<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.start_date %></td>
        <td><%= r.end_date %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Reservation', new_listing_reservation_path %>